*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header div{
    width: 60%;
    height: 150px;
    border-radius: 5px;
    background-color: rgb(50, 50, 97);
    color: white;
    margin: 0 auto;

}
h1{
    text-align: center;
    line-height: 150px;
}